.screen {
  width: 200px;
  margin: auto;
  padding: 5%;
  border: 2px gray solid;
  background-color: white;
  text-align: right;
}

.topRow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.symbolText {
  font-size: 12px;
  margin: 0;
}

.noSymbol {
  color: white;
  font-size: 12px;
  margin: 0;
}

.valueText {
  margin: 0;
}
